[alias]
        b = branch
        bb = branch -avv
        bd = branch -d
        bnuke = !git branch -d $1 && git push --delete origin
        c = !sh gcommit.sh
        co = checkout
        d = diff
        df = diff --name-status
        f = fetch
        fml = !git reset --hard origin/`git rev-parse --abbrev-ref HEAD`
        l = log
        lt = log --oneline --graph
        lf = log --name-status
        p = pull
        pp = push -u origin HEAD
        s = status -sb
        ru = !git rebase origin/`git rev-parse --abbrev-ref HEAD`
        setuser = !git_setuser.py
        addnew = !git status -s | cut -c 4- | xargs git add
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = auto
        pager = true
[branch]
        autosetuprebase = always
[giggle]
	main-window-maximized = false
	main-window-geometry = 1918x872+0+18
	file-view-vpane-position = 410
[pivotal]
	full-name = Mike Verdone
[user]
	name = Mike Verdone
