[alias]
	branch-delete = !mv .git/refs/heads/$1 .git/refs/deleted-heads/ && echo Deleted
	branch-undelete = !mv .git/refs/deleted-heads/$1 .git/refs/heads/ && echo Resurrected
	branch-nuke = !git branch-delete $1 && git push --delete origin $1 && echo Nuked
	current-branch = rev-parse --abbrev-ref HEAD
	commit-amend = commit -a --amend
	last-branch = !ls -t .git/refs/heads/ | grep -v master | head -n 1
	temp-tag = !git tag -f $USER/`git rev-parse --abbrev-ref HEAD`.`date +'%Y%m%d.%H%M'`
	setuser = !git_setuser.py
	setmagic = !mkdir -p .git/refs/deleted-heads
	merged-branches = !git branch --no-color --merged origin/master | grep -v \\*
        delete-merged-branches = !git branch -d `git merged-branches`
	submodule-update-everything = submodule update --recursive --init
	submodule-what = submodule -q foreach 'echo $path: && git status -s'
	stash-all = submodule foreach -q 'git status -s | read && git stash -u ||  true'

	bd = !git branch-delete
        b = branch
        bb = branch -avv
        c = !sh gcommit.sh
	ca = !git commit-amend
        co = checkout
        d = diff
        df = diff --name-status
        f = fetch
        fml = !git reset --hard origin/`git rev-parse --abbrev-ref HEAD`
        l = log
        lt = log --oneline --graph
        lf = log --name-status
	m = merge --no-ff --log
	mm = !git m `git last-branch`
        p = pull
	pb = pull --rebase
        pp = !git push -u origin HEAD $@
	ppcrit = push critic HEAD
	ppcritup = !git push critic HEAD:r/$USER/`git rev-parse --abbrev-ref HEAD`
        s = status -sb
	sue = !git submodule-update-everything
	t = !git tag -l $USER/'*'
	tt = !git temp-tag
        ru = !git rebase origin/`git rev-parse --abbrev-ref HEAD`
	rmi = !git tt && git rebase -i --autosquash origin/master
	what = !git submodule-what
	sta = !git stash-all
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = auto
        pager = true
[giggle]
	main-window-maximized = false
	main-window-geometry = 1918x872+0+18
	file-view-vpane-position = 410
[pivotal]
	full-name = Mike Verdone
[user]
	name = miv
	email = miv@ableton.com
[log]
	date = local
[http]
	postBuffer = 1073741824
[core]
	autocrlf = input
[push]
	default = simple
