{
    "configure": [
        "--ninja",
        "--no-pch",
        "--ccache",
    ],

    "build": [
        "--configuration", "Release",
        "--ninja",
    ],

    "run": [
        "--configuration", "Release",
    ]
}
