
Xcursor.theme: Vanilla-DMZ-AA

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

Emacs.font: Anonymous Pro-11
Emacs.fontBackend: xft
Emacs.menuBar: off
Emacs.toolBar: -1
Emacs.verticalScrollBars: off

xterm*background: #0c1f2b
xterm*foreground: #95adba
xterm*faceName: Anonymous Pro:pixelsize=14
xterm*modifyOtherKeys: 1
xterm*modifier: meta
xterm*metaSendsEscape: true
xterm*backarrowKey: true
xterm*color0: #000000
xterm*color10: #c5f779
xterm*color11: #fff796
xterm*color12: #4186be
xterm*color13: #cf9ebe
xterm*color14: #71bebe
xterm*color15: #ffffff
xterm*color1: #9e1828
xterm*color2: #aece92
xterm*color3: #968a38
xterm*color4: #414171
xterm*color5: #963c59
xterm*color6: #418179
xterm*color7: #bebebe
xterm*color8: #666666
xterm*color9: #cf6171
xterm*colorUL: #c5f779
xterm*cursorColor: magenta
xterm*utf8: 1
xterm*locale: UTF-8

*ttyModes:         erase ^?
*VT100.Translations: \
    #override <Key>BackSpace: string(0x7f) \n\
              <Key>Delete:    string(0x1b) string("[3~")
