
Xcursor.theme: Vanilla-DMZ-AA

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

Emacs.font: Anonymous Pro-11
Emacs.fontBackend: xft
Emacs.menuBar: off
Emacs.toolBar: -1
Emacs.verticalScrollBars: off

URxvt*color0: #000000
URxvt*color10: #c5f779
URxvt*color11: #fff796
URxvt*color12: #4186be
URxvt*color13: #cf9ebe
URxvt*color14: #71bebe
URxvt*color15: #ffffff
URxvt*color1: #9e1828
URxvt*color2: #aece92
URxvt*color3: #968a38
URxvt*color4: #414171
URxvt*color5: #963c59
URxvt*color6: #418179
URxvt*color7: #bebebe
URxvt*color8: #666666
URxvt*color9: #cf6171
URxvt*colorUL: #c5f779
URxvt*cursorColor: magenta
URxvt.depth: 32
URxvt*internalBorder: 4
URxvt.scrollBar: false
URxvt*underlineColor: #c5f779

URxvt*background: #0c1f2b
URxvt*foreground: #95adba
URxvt*font: xft:AnonymousPro-11
URxvt*boldFont: xft:AnonymousPro-11:bold
URxvt*saveLines: 4000
URxvt*scrollBar: false
URxvt*scrollstyle: rxvt

xterm*background: #0c1f2b
xterm*foreground: #95adba
xterm*faceName: Anonymous Pro:pixelsize=14
xterm*modifyOtherKeys: 1
xterm*modifier: meta
xterm*metaSendsEscape: true
xterm*backarrowKey: true
